.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr; 
}

.messageAuthors {
    margin: 20px;
}

.author {
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.author [aria-current="page"] {
    color: gold;
  }

.messages {
    margin: 20px;
}

.message {
    margin-bottom: 20px;
}
